@import 'variables.css';

body, main {
   margin: 0;
   padding: 0;
}

header {
    background-color: var(--header-bg-color);
    color: var(--white-color);
    height: 80px;
}

footer {
    background-color: var(--footer-bg-color);
    height: 100px;
}

.nav {
    list-style: none;
}

section[class*="main-info"] {
    background-image: url("./../assets/img/background/sitBg.jpg");
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

.section {

}